<div class="content-form">
    <mat-card>
        <form class="form" [formGroup]="registerForm" (ngSubmit)="register()">
            <mat-card-title>
                Register
            </mat-card-title>
            <mat-form-field class="group">
                <mat-label>Username</mat-label>
                <input 
                    type="text" 
                    name="username"
                    matInput
                    formControlName="username"
                    required
                    autofocus
                >
                <mat-error 
                    *ngIf="f.username.errors && f.username.errors.required"
                >
                    Username is required!
                </mat-error>
            </mat-form-field>
            <mat-form-field class="group">
                <mat-label>Email</mat-label>
                <input 
                    type="email" 
                    name="email"
                    matInput
                    formControlName="email"
                    required
                >
                <mat-error 
                    *ngIf="f.email.errors && f.email.errors.required"
                >
                    Email is required
                </mat-error>
                <mat-error 
                    *ngIf="f.email.errors && f.email.errors.email"
                >
                    Invalid Email
                </mat-error>
            </mat-form-field>
            <mat-form-field class="group">
                <mat-label>Password</mat-label>
                <input 
                    type="password" 
                    matInput
                    name="password"
                    formControlName="password"
                    required
                >
                <mat-error 
                    *ngIf="f.password.errors && f.password.errors.required"
                >
                    Password is required!
                </mat-error>
            </mat-form-field>
            <mat-form-field class="group">
                <mat-label>Password</mat-label>
                <input 
                    type="password" 
                    matInput
                    name="cpassword"
                    formControlName="cpassword"
                    required
                >
                <mat-error 
                    *ngIf="f.cpassword.errors && f.cpassword.errors.required"
                >
                    Confirm Password is required!
                </mat-error>
                <mat-error 
                    *ngIf="f.cpassword.errors && f.cpassword.errors.mustMatch"
                >
                    Passwords must match!
                </mat-error>
            </mat-form-field>
            <button mat-raised-button color="primary" class="btn_send">
                Register
            </button>
        </form>
    </mat-card>
</div>